<section id="about">

    <div class="grid">
        <div class="grid-box">
            <div class="img-container">
                <img class="director-img" src="/assets/movie-reel.ico" alt="">
            </div>
        </div>
        <div class="grid-box">
            <div class="container">
                <h1 id="section">About Me</h1>
                <p>My name is Steven Failla.  I have been practicing webdesign and development for approximately a year now.  I am currently working on my back-end certificate at <a href="https://www.freecodecamp.com">FreeCodeCamp</a>.</p>
                
                <br>

                <h1 id="section">About My Movie Site</h1>
                <p>This site will provide full C.R.U.D. functionality allowing the user to Add, Search, Update, and Delete Movies. To browse Movies that are currently available click on Movies.</p>
                <a href="/api/movies" id="getMovie" type="button">Movies</a>
            </div>
        </div>
    </div> 

    <hr>  

    <div class="grid grid-about">
        <div class="grid-box">
            <div class="container">
               <img class="add-movie" src="../assets/add-movie.png" alt="">
               <p>This website provides the functionality to add a movie to a database, which will show up in the movies section of this site.</p>
            </div>
        </div>
        <div class="grid-box">
            <div class="container">
                <img src="/assets/update-movie.png" alt="" class="update-movie">
                <p class="fix-p">In this website there is also the option to Update a movie that has been added the website.</p>
            </div>
        </div>
        <div class="grid-box">
            <div class="container">
                <img src="/assets/delete.png" alt="" class="delete-movie">
                <p>In this website there is also the ability to Delete any movie that has been added to the site.</p>
            </div>
        </div>
    </div>

</section>   