<section id="contact">

    <div class="container">
        <h1 id="section">Contact Info</h1>
    </div>

    <div class="flex-contact-container">
        <div class="flex-box">
            <div class="contact-info-container">
                <h3><span id="contact-info">Email:</span>  Sfailla1983@gmail.com</h3>
                <h3><span id="contact-info">Phone:</span>  1-914-236-9635</h3>
                <h3><span id="contact-info">Location:</span>  Westchester, New York</h3>
            </div>
        </div>
        <div class="flex-box">
            <div class="container">
                <div class="contact-nav-container">
                    <nav id="contact-nav">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/api/movies">Movies</a></li>
                            <li><a href="/api/addMovie">AddMovies</a></li>
                            <li><a href="#footer">Contact</a></li>
                        </ul>                      
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="contact-break"></div>

</section>