<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<section id="movies-content">

    <div class="container">
        <h1 id="section">Movies | All Movies</h1>
    </div>  
    
    <div id="output">

        <div class="flex-container">
            {{#each movies}}
            <div class="flex-item">
                <div class="card"><a href=" /api/movie/{{ id }} ">
                    <img src=" {{ img_url }} " class="movies-img" alt=""></a>                                               
                        <div class="card-container"> 
                        <h3> {{ title }} </h3>
                        <form action="/api/movies/{{ id }}?_method=DELETE" method="post"> 
                        <button type="submit" class="delete">Delete</button>
                        </form>
                        </div>
                </div>            
            </div>
            {{/each}}  
        </div>                
    </div>
    
</section>
