<header>
    <div class="container-nav">
        <nav id="header-nav">
            <div class="nav-wrap">
                <img class="logo" src="../assets/icon-movie.png" alt="">
                <h1>SF Webdesign</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/api/movies">Movies</a></li>
                    <li><a href="/api/addMovie">Add Movies</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>

