<header>
    <div class="main-container">
        <div class="header-wrapper">
            <div class="title-wrapper">
                <img class="logo" src="../assets/icon-movie.png" alt="">
                <h1>SF Web Design</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/api/movies">Movies</a></li>
                    <li><a href="/api/search-movies">Search Movies</a></li>
                    <li><a href="/api/add-movie">Add Movies</a></li>
                    
                </ul>
            </nav>
        </div>
    </div>
    
</header>

