<section id="movie-search">
  <div>
    <h2>Search for your favorite movies</h2>
  </div>
  <div class="container">
    <input type="text" class="input" placeholder="type movie name here" name="search">
  </div>
</section>